PORT=5001
NODE_ENV=development
CLIENT_URL=http://localhost:5174

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sera_sera
DB_USER=postgres
DB_PASSWORD=123456

JWT_SECRET=change_me_before_production
JWT_EXPIRES_IN=7d
